{% extends "base.html" %}

{% block title %}Announcements{% endblock %}

{% block content %}
        <h1>
            School Announcements
        </h1>
        <p><a href="/dashboard/">&larr; Back to Dashboard</a></p>

         <!-- Only show the "Post New" form if the logged-in user is a teacher -->
         {% if g.user and g.user.role== 'teacher' %}
         <div>
            <h3>
                Post New Announcement
            </h3>
            <form id="post-form">
                <textarea name="message" id="message" placeholder="Type your announcement here please..." required></textarea>
                <button type="submit">
                    Post Announcement
                </button>
            </form>
            <div id="status-msg"></div>
         </div>
         {% endif %}

         <div id="announcements-list">
            <!-- Loop through all announcements from the database -->
            {% for post in posts %}
            <div class="announcement">
                <div class="meta"> Posted by <strong>{{ post.author }}</strong> on {{ post.created }}</div>
                <div>{{ post.message }}</div>
            </div>
            {% endfor %}
         </div>

         <script>
            const postForm = document.getElementById('post-form');
            if (postForm) {
                postForm.addEventListener('submit', async (e) => {
                    e.preventDefault();
                    const message = document.getElementById('message').value;

                   // Send the new announcement to the API
                   const response = await fetch('/api/announcements/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json'},
                    body: JSON.stringify({ message: message })
                   });

                    if (response.ok) {
                        window.location.reload(); // reload page to see new post
                    } else {
                        alert("Failed to post announcement. U gotta try again lil bro");
                    }
                });
            }
         </script>
{% endblock %}