<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- The title can be overridden by child templates -->
        <title>{% block title %}Windward App{% endblock %}</title>
        <!-- Link to our one central stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!-- Main content container -->
         <div class="container">
            <!-- This is where the content of each individual page will go -->
             {% block content %}{% endblock %}
         </div>
    </body>
</html>