{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<h1>Reset Password</h1>
<div class="container" style = "background-color: #161b22; border: none;">
    <p>For security reasons, automated password resets are currently disabled.</p>
    <p>Please contact the system administrator (Diego) or IT support to reset your account credentials.</p>
    <br>
    <a href="/auth/login" class="cta-button" style = "font-size: 1em; padding: 10px 20px">&larr; Back to Login</a>
</div>

{% endblock %}